.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #556179 0%, #000000 100%);
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-family: Helvetica;
    font-size: smaller;
}

.navigation li {
    list-style: none;
    float: left;
    border-right: 1px solid rgb(105, 101, 101);
    text-align: center;
}

nav {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgb(105, 101, 101);
    border-bottom: 1px solid rgb(105, 101, 101);
}

.bannerimg {
    width: 100%;
}

.active {
    background: linear-gradient(to bottom, #12026e 0%, #0948cf 100%);
}

nav li a:hover:not(.active) {
    background: linear-gradient(to bottom, #0948cf 0%, #12026e 100%);
}

.background {
    width: 100%;
}

p {
    color: white;
    margin: 2%;
}

body {
    background-image: url(img/wave-background.jpg);
    color: white;
    font-family: helvetica, arial;
    background-repeat: vertical;
}

.footer li {
    display: block;
    background: linear-gradient(to bottom, #556179 0%, #000000 100%);
    font-family: helvetica, arial;
    border: 2px solid rgb(105, 101, 101);
    border-radius: 10px;
    float: right;
    position: absolute;
    bottom: 25px;
    right: 25px;
    list-style: none;
}

footer {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
}

.footer a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 8px;
}

footer li a:hover:not(.active) {
    background: linear-gradient(to bottom, #0948cf 0%, #12026e 100%)
}

.rtable {
    background: linear-gradient(to bottom, #0948cf 0%, #12026e 100%);
    margin: 1%;
    padding: 0px;
    border-radius: 5px;
    border: 4px solid rgb(142, 144, 161);
}

th {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
}

td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.vak {
    text-align: left;
}

h2 {
    display: inline-block;
    border: 2px solid rgb(142, 144, 161);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(to bottom, #0948cf 0%, #12026e 100%);
    margin: 1%;
}

h4 {
    margin: 1%;
    font-weight: bolder;
}

.row {
    display: flex;
}

.column {
    flex: 50%
}

.links {
    background: linear-gradient(to bottom, #0948cf 0%, #12026e 100%);
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    border: 4px solid rgb(142, 144, 161);
    width: 25%;
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: white;
}

.links li a:hover:not(.active) {
    color: rgb(240, 47, 47)
}

.codeimg {
    width: 40%;
    opacity: 0.8;
    margin: 2%;
    margin-top: 5%;
    border: 2px solid rgb(142, 144, 161);
}

.srv {
    display: flex;
    width: 35%;
    opacity: 0.8;
    margin: 2%;
    border: 2px solid rgb(142, 144, 161);
}

.bass {
    display: flex;
    margin: 2%;   
    border: 2px solid rgb(142, 144, 161);
    height: 250px; 
    width: 35%;
    opacity: 0.8;
}

/*class voor positieve resultaten*/
.resultgh {
    background-color: darkgreen;
}

/*class voor negatieve resultaten*/
.resultngh {
    background-color: darkred;
}

/*class voor resultaten die in afwachting zijn*/
.resultp {
    background-color: rgb(173, 107, 27);
}